---
import Main from "../../components/Main.astro";
import Layout from "../../layouts/Layout.astro";
import SubTitle from "../../components/SubTitle.astro";
import { t, changeLanguage } from "i18next";

changeLanguage("es");
---

<Layout>
  <Main>
    <SubTitle>{t("Header.blog")}</SubTitle>
    <div class="w-full text-center">
      <h1>BLOGS</h1>
    </div>
  </Main>
</Layout>
