---
import { changeLanguage } from "i18next";
import Main from "../../components/Main.astro";
import Layout from "../../layouts/Layout.astro";

changeLanguage("en");
---

<Layout>
  <Main>
    <div class="w-full text-center">
      <h1>CONTACTOS</h1>
    </div>
  </Main>
</Layout>
