---
import { changeLanguage } from "i18next";
import Layout from "../../layouts/Layout.astro";
import Main from "../../components/Main.astro";
import LineBreak from "../../components/Line-Break.astro";
import MansonGallery from "../../components/XataGallery.astro";

changeLanguage("en");
---

<Layout title="JavatoGarabato">
  <Main>
    <MansonGallery />
    <LineBreak />
  </Main>
</Layout>

<script>
  
</script>