---
import Layout from '../layouts/Layout.astro';
import Main from "../components/Main.astro";
import LittleDescription from "../components/Little-description.astro";
import ImageCarousel from "../components/ImageCarousel.astro"
import OrderCarousel from '../components/OrderCarousel.astro';

const description: string = "JavatoGarabato, nacido en Madrid, siempre ha estado interesado por mostrar mediante sus obras una visión del mundo diferente e inconformista."
---

<Layout title="JavatoGarabato">
	<Main>
		<LittleDescription description={description}/>
		<ImageCarousel destination='/project-mz'/>
		<hr class=" mx-auto flex-grow border-gray-800 w-11/12 justify-self-center pb-12"></hr>
		<OrderCarousel destination='project-mz'/>
	</Main>
</Layout>