---
import Layout from "../layouts/Layout.astro";
import Main from "../components/Main.astro";
import MansonryGallery from "../components/MansonryGallery.astro";
import LineBreak from "../components/Line-Break.astro";
import Gallery from "../components/Gallery.tsx";
import MansonGallery from "../components/MansonGallery.astro";
---

<Layout title="JavatoGarabato">
  <Main>
    <MansonGallery />
    <LineBreak />
  </Main>
</Layout>

<script>
  
</script>