---
import { Image } from "astro:assets";
import { getXataClient, type DatabaseSchema } from "../xata";
import { Kysely } from "kysely";
import { XataDialect, type Model } from "@xata.io/kysely";

const xata = getXataClient();

const db = new Kysely<Model<DatabaseSchema>>({
  dialect: new XataDialect({ xata }),
});

const capsules = await db
  .selectFrom("capsules")
  .innerJoin('works', 'works.collection', 'capsules.id')
  .select(['capsules.name', 'works.images'])
  .execute();

//TODO: Finish creating this component
---

<div class="p-5 md:p-10 col-auto">
    
  {
    capsules.map((capsule) => {
      return <span>{capsule.name}</span>;
    })
  }
</div>
