---
import {Image} from "astro:assets"

const userEmail = Astro.cookies.get("userEmail")
---

<header
    class="flex flex-col py-12 px-16 max-sm:px-5 max-sm:py-8 justify-self-center w-full"
>   
    <div class="flex justify-between items-center">
        <div class="flex items-end">
            <h1 class="text-3xl sm:text-5xl azeret-bold">JavatoGarabato</h1>
            <p class="px-3 text-xs azeret">Artista desde 1998</p>
        </div>
        
        <a href="/" class="flex gap-x-4 items-center">
            <Image
                loading={"eager"}
                src="/heartbeat.png"
                alt="rhythm nation logo"
                width={64}
                height={64}
                format="webp"
                class="w-16"
            />
        </a>
    </div>

    <hr class="flex-grow border-gray-800"></hr>

    <div class="flex justify-between items-center py-3 text-base sm:text-2xl font-semibold px-2 azeret">
        <a href="/">Obras</a>
        <a href="/">Blog</a>
        <a href="/">Productos</a>
        <a href="/">Contacto</a>
    </div>

    <hr class="flex-grow border-gray-800"></hr>
    
</header>

