---
import { Image } from "astro:assets";
import { ViewTransitions } from "astro:transitions";
import { t } from "i18next"

type Props = {
  obrasDest: string;
  blogDest: string;
  productosDest: string;
  contactoDest: string;
};

const { obrasDest, blogDest, productosDest, contactoDest } = Astro.props;
---

<header class="flex flex-col py-12 px-16 max-sm:px-5 max-sm:py-8 justify-self-center">
  <ViewTransitions />
  <div class="flex justify-between items-center">
    <div class="flex items-end">
      <h1 class="text-3xl sm:text-5xl azeret-bold">
        <a href="/project-mz" class="text-black">JavatoGarabato</a>
      </h1>
      <h2 class="px-3 text-xs azeret">Artista desde 1998</h2>
    </div>

    <a href="/project-mz" class="flex gap-x-4 items-center">
      <Image
        loading={"eager"}
        src="/heartbeat.png"
        alt="rhythm nation logo"
        width={64}
        height={64}
        format="webp"
        class="w-16"
      />
    </a>
  </div>

  <hr class="flex-grow border-gray-800" />

  <div
    class="flex justify-between items-center py-3 text-base sm:text-2xl font-semibold px-2 azeret"
  >
    <a href={obrasDest}>{t("Header.works")}</a>
    <a href={blogDest}>{t("Header.blog")}</a>
    <a href={productosDest}>{t("Header.products")}</a>
    <a href={contactoDest}>{t("Header.contacts")}</a>
  </div>

  <hr class="flex-grow border-gray-800" />
</header>
