---
import { Image } from "astro:assets";
import { getXataClient } from "../xata";

const xata = getXataClient();

//TODO: change this DB fetch so a prop with what to search can be passed
const data = await xata.db.works.getPaginated({ pagination: { size: 20 } });
---

<div class="p-5 md:p-10">
  <div
    class="columns-1 sm:columns-2 lg:columns-3 gap-5 lg:gap-8 [&>div:not(:first-child)]:mt-5 lg:[&>div:not(:first-child)]:mt-8"
  >
    {
      data.records.map((record) => {
        const transImage = record.images?.at(0)?.transform({
          format: "avif",
          quality: 50,
        });
        return (
          <div class="relative">
            <Image
              class="object-cover hover:scale-150 hover:rotate-0 duration-500 hover:-translate-y-12"
              densities={[0.1]}
              src={transImage?.url || ""}
              inferSize
              alt={record.name}
            />
            <div class="absolute inset-0 flex items-center flex-col justify-center opacity-0 transition-opacity duration-300 bg-black/60 hover:opacity-100">
              <p class="text-white text-2xl capitalize">{record.name}</p>
              <br>
              <p class="text-white text-lg">{record.description}</p>
            </div>
          </div>
        );
      })
    }
  </div>
</div>

<script>
  const button = document.querySelector(".next-page-button");
  if (button) {
    button.addEventListener("click", () => {});
  }
</script>
