---
import { Image } from "astro:assets";
import { getXataClient } from "../xata";

const xata = getXataClient();

const data = await xata.db.works.getPaginated({ pagination: { size: 9 } });
---

<div class="p-5 md:p-10">
  <div
    class="columns-1 sm:columns-2 lg:columns-3 gap-5 lg:gap-8 [&>img:not(:first-child)]:mt-5 lg:[&>img:not(:first-child)]:mt-8"
  >
    {
      data.records.map((record) => {
        const transImage = record.images?.at(0)?.transform({
          format: "avif",
          quality: 50,
        });
        return <Image densities={[0.1]} src={transImage?.url || ""} inferSize alt={record.name} />;
      })
    }
  </div>
  <div class="flex justify-center items-center pt-12">
    <button
      class="next-page-button bg-slate-400 text-white rounded-full py-2 px-4 flex items-center justify-center shadow-md hover:bg-slate-500 transition duration-300 transform hover:-translate-y-1"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="w-6 h-6"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="m4.5 5.25 7.5 7.5 7.5-7.5m-15 6 7.5 7.5 7.5-7.5"></path>
      </svg>
    </button>
  </div>
</div>

<script>
  const button = document.querySelector(".next-page-button");
  if (button) {
    button.addEventListener("click", () => {
    });
  }
</script>
