---
import { SEO } from "astro-seo";
import { localizePath } from "../../node_modules/astro-i18next";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import "@fontsource-variable/azeret-mono";
import "../styles/global.css";
import siteData from "../data/siteData.json";

const { image = "/images/logo.jpg" } = Astro.props;

//TODO: Fix the internazionalization hrefs, so it redirects to the right page
---

<!doctype html>
<html lang="en">
  <head>
    <SEO
      title={siteData.title}
      description={siteData.description}
      openGraph={{
        basic: {
          title: "JavatoGarabato Art page",
          type: "",
          image: "/public/heartbeat.png",
        },
      }}
    />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <meta property="og:image" content={image} />
  </head>
  <body class="min-h-screen">
    <Header
      obrasDest={localizePath("/works")}
      blogDest={localizePath("/blog/showRoom")}
      productosDest={localizePath("/tokenShop/catalogue")}
      contactoDest={localizePath("/contacts")}
    />
    <slot />
    <Footer />
    <script type="module" src="/node_modules/vanilla-tilt/lib/vanilla-tilt.js"></script>
  </body>
</html>
